* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 5% 20%;
}

.hello-text {
  margin-top: 50px;
  font-size: 60px;
}

.tag-line {
  margin-top: 20px;
  font-size: 30px;
}
